[2017-02-02 03:17] vikaskyadav opened #1 "[Need assistance]"
Help needed on how to contribute to this repo.

[2017-02-02 22:28] jtorrez commented on #1
Hey @vikaskyadav , we'll have more action items as soon as we speak with the NILC about what they need help with the most. Thanks for wanting to contribute!

[2017-02-05 21:34] jtorrez opened #2 "Discuss best mobile app for secure internal communications within the NILC"
The NILC would like suggestions for the best app to use for internal communications. The requirements are simple, quotes directly from the NILC:

- "a mobile app that would not require us to be sitting at our computers

- "Slack came to mind, but some thought that maybe we need something more secure."

I'm thinking Signal or WhatsApp would most likely solve this problem, but would love to hear any

[2017-02-05 21:37] 243 commented on #2
I'll plug Wire. Open Source, multi-platform, and prettier than the other options.

[2017-02-05 21:42] jtorrez opened #3 "Discuss and develop a contact tracking system for the NILC"
The NILC is being overwhelmed with contact from lawyers, congressional contacts, volunteers, and (most importantly) individuals being affected by the immigration policies being put in place by the current administration.

They desperately need an automated intake system that sorts the incoming contacts and puts it all into a centralized place. Some kind of matching algorithm to connect affected in

[2017-02-05 21:44] jtorrez opened #4 "Discuss and develop email parsing system for NILC"
The NILC has been overwhelmed with contacts from lawyers, congressional contacts, volunteers, and (most importantly) individuals affected by the immigration policies being put in place by the current administration.

They have a large backlog of emails that will have to be manually sorted and it would be a great help to them if we can help automate at least part of the this process. Their current

[2017-02-05 21:47] jtorrez commented on #2
Hadn't heard of Wire, but wow that looks dope!

[2017-02-05 21:52] 243 commented on #4
Okay, for the sake of dumb ideas: What if the NILC sent out an autoreply to all recent contacts. Something like, "We have received your email. Please fill out this online form to help us classify your message."

Or even a low-tech solution like "Please reply with one of the following keywords to help us classify your message..."

[2017-02-05 23:15] jtorrez commented on #1
@vikaskyadav I've added some issues for this project that you can check out and get involved with. Thanks for posting here!

[2017-02-05 23:15] #1 closed

[2017-02-10 17:04] jtorrez commented on #2
@243 Thanks for the suggestion, we had a meeting with the NILC yesterday and they liked the look of Wire, looks like they'll probably go with that.

[2017-02-11 21:20] jtorrez opened #5 "Build interactive visualization for NILC website"
Build an interactive map that:
 1. Shows the location of incidents on a interactive map.
 2. Shows number of people impacted at that incident
 3. Map is updated when new data is added
 4. Maps also displays some basic numbers:
    - total number of incidents
    - incidents in last 24 hours
    - etc.

The map could be embedded on a page on their website http://www.nilc.org .  Or it could be a sep

[2017-02-11 21:27] jtorrez opened #6 "Build bot to to auto-update interactive visualization on NILC website"
The datasource for the interactive visualization on the NILC website will be a Google Sheet. We need to build a bot/script that automatically refreshes the data being fed to the visualization ideally when the sheet is updated, but some kind of frequent time interval would probably work as well.

We will most likely need to make use of the Google API ([docs here](https://developers.google.com/api-c

[2017-02-11 21:29] jtorrez commented on #6
See issue #5 for info on the visualization being built

[2017-02-11 21:32] jtorrez opened #7 "Embed interactive visualization on NILC website"
The National Immigration Law Center (NILC) is receiving reports of immigration-related arrests and detentions. They want to map this information in real-time as it happens.

The map could be embedded on a page on their website http://www.nilc.org .  Or it could be a separate lightweight single-purpose website running on a subdomain such as http://incidents.nilc.org

The visualization will need to

[2017-02-11 21:41] jtorrez commented on #5
Sample (fake) data for dev purposes had been uploaded, find it [here](https://github.com/Data4Democracy/immigration-connect/tree/master/data/nilc-int-visualization)

[2017-02-12 18:41] pratheekrebala commented on #5
Hey @jtorrez - do you still need help with this?

[2017-02-12 18:59] jtorrez commented on #5
Hey @pratheekrebala thanks for the interest but @tylerjrichards and @scottcame are working on this, sorry we didn't keep the issues up-to-date, this has been moving crazy fast. If you're interested in getting involved DM them on Slack or jump into the [#immigration-connect](https://datafordemocracy.slack.com/messages/immigration-connect/) channel.

[2017-02-13 17:18] jtorrez commented on #7
Waiting on NILC to communicate about embedding on website

[2017-02-14 19:11] violaglenn commented on #4
Document clustering could offer at least a first step-- it might highlight some big issue areas and allow for routing to the correct individual for further sorting. I can also be effective in identifying/weeding out any form letters that are coming in from many locations.

[2017-02-22 17:04] jtorrez commented on #4
Thanks for the suggestion @violaglenn! This project is on the back burner for a bit while we work on a few other priority projects, but when this gets rolling we'll definitely make use of your suggestion

[2017-02-22 17:04] #2 closed

[2017-03-04 19:47] QuinnLee commented on #5
@jtorrez the link to the fake data is broken, is there an updated link I can tinker with?

[2017-03-05 18:28] jtorrez commented on #5
Hey @QuinnLee, thanks for the interest!

Get in contact with @scottcame if you are interested in working on on the project or jump into the [#immigration-connect](https://datafordemocracy.slack.com/messages/immigration-connect/) channel to check out the latest developments, as this is pretty far along at this point

[2017-03-19 21:39] jtorrez commented on #7
The NILC has put this project on hold for now

[2017-03-19 21:39] #6 closed

[2017-03-19 21:40] jtorrez commented on #5
Visualization has been built and we are waiting on the NILC to decide how to utilize the tool

[2017-03-19 21:40] #5 closed

[2017-03-19 21:41] jtorrez commented on #4
Thanks to @alejandrox1 who will be taking the lead on this issue. We will be discussing this system with the NILC at the next meeting with have with them, more details to follow

[2017-03-19 23:08] alejandrox1 commented on #4
We can build off the email [forwarding](https://github.com/Data4Democracy/immigration-connect/blob/master/NILC_priorities.md) system to process all emails and then build a nice app or something of the sort for people at NILC to use as a "search engine" as they please.

[2017-03-20 17:06] jtorrez opened #12 "Analyze and organize tweets and statements regarding Muslim ban"
@alejandrox1 has collected a huge amount of tweets and other sources regarding the Muslim travel ban and compiled them [here](https://github.com/Data4Democracy/immigration-connect/tree/master/travel-ban/tweets). We need to analyze and organize them for deliver to the NILC. An example of how we delivered data to them in the past can be found on [their website](https://www.nilc.org/issues/litigation

[2017-03-20 17:19] jtorrez opened #13 "Continue collecting official statements from Trump and Trump admin officials regarding travel ban"
We are continuing to collect data that helps demonstrate that the travel ban has the intent of religious discrimination. @alejandrox1 has collected a large amount of tweets [here](https://github.com/Data4Democracy/immigration-connect/tree/master/travel-ban/tweets) and has built a few tools that make collecting further tweets and official White House statements (which you can find [here](https://gi

[2017-03-22 20:27] dpaolella commented on #12
@jtorrez Are there any specific questions that the NILC would like to see answered from this analysis? Or is the task more to better filter the tweets by relevance and/or some measure of significance? It looks like some of the tweets that were collected aren't actually related to the ban.

[2017-03-25 22:10] meriburgess commented on #12
If no one else has started this, I wouldn't mind giving it a go!

[2017-03-31 22:20] #13 closed

[2017-03-31 22:20] #12 closed

[2017-06-13 01:59] jtorrez opened #14 "Find existing articles/research that address the research question: Does the Travel Ban improve national security?"
Post any articles, research, data visualizations, etc. etc. that have already addressed the question of whether there is a national security justification for the executive orders concerning the Travel Ban.

[2017-06-13 02:00] jtorrez commented on #14
Here are a few I've found already:

- https://www.theatlantic.com/international/archive/2017/01/trump-immigration-ban-terrorism/514361/
-https://www.cato.org/blog/little-national-security-benefit-trumps-executive-order-immigration
-http://www.heritage.org/terrorism/report/terror-trends-40-years-data-international-and-domestic-terrorism
-https://sites.duke.edu/tcths/files/2017/01/Kurzman_Muslim-Ame

[2017-06-13 02:18] jtorrez opened #15 "Find data sources and upload them to data.world that address the question: Does the Travel Ban improve national security?"
data.world site where you should upload datasets: https://data.world/sjhaveri/does-the-travel-ban-improve-national-security

[2017-06-13 02:29] jtorrez opened #16 "Produce analysis related to the research question: Does the Travel Ban improve national security?"
Any analyses (whether it is some kind of summary statistics, a fancy interactive visualization, or anywhere in-between) that could help answer the proposed research question would be much appreciated by the National Immigration Law Center (NILC). Be creative! We welcome all kinds of contributions.

[2017-06-13 02:31] jtorrez opened #17 "Find and upload datasets to data.world that could be used to answer the research question: How effectively does the DHS/ICE use the funds they already receive?"
The current administration has been scaling up immigration law enforcement and also want to increase immigration enforcement by a further 4 billion dollars.  Is this an efficient use of taxpayer dollars?

data.world site for uploads: https://data.world/sjhaveri/how-effectively-does-the-dhs-ice-use-the-funds-they-already

[2017-06-13 03:06] jtorrez opened #18 "Help us find financial rating systems/standard financial analyses that already exist that could address the question: Does the DHS/ICE use the funds they already receive?"
The current administration has been scaling up immigration law enforcement and also want to increase immigration enforcement by a further 4 billion dollars.  Is this an efficient use of taxpayer dollars?

We don't want to reinvent the wheel, if there are existing financial analyses that would be useful in answering this question, please let us know!

[2017-06-13 03:17] jtorrez opened #19 "Perform analysis that allows us to tell stories related to DHS/ICE expenditures"
Here are a few example stories we are interested in:

* The US taxpayer pays X amount of taxes per year, it costs Y amount of dollars to deport someone.
* What else could we use all the money being spent on deportation instead?
* Any other interesting stories that are related to DHS/ICE, be creative!

[2017-06-20 02:50] jtorrez commented on #17
FY 2018 DHS Budget (Proposed): https://www.dhs.gov/sites/default/files/publications/DHS%20FY18%20BIB%20Final.pdf

Highlights, only 7.1% overall increase to DHS budget, but cuts to many of the parts the organization, and a 29.1% increase to ICE, Customs, and other immigration related parts of the org.

[2017-06-20 03:04] jtorrez commented on #17
http://www.nationalreview.com/article/395852/disturbing-coburn-report-ryan-lovelace

[2017-06-21 15:31] jtorrez commented on #17
[Tom Coburn's 2015 DHS Report](http://www.hsgac.senate.gov/download/?id=B92B8382-DBCE-403C-A08A-727F89C2BC9B)

[2017-06-21 15:32] jtorrez commented on #17
Not DHS specific, but discusses the increases in spending on national security and how effective they've been:

https://www.theatlantic.com/magazine/archive/2016/09/are-we-any-safer/492761/

[2017-07-23 17:31] AlexPapas commented on #19
Is there any dataset available. Excuse me but I am completely new on this and I try to figure out how this works.

Kr,}
Alex

[2017-08-04 15:55] jtorrez commented on #19
@AlexPapas sorry for the late reply, it has been a busy past few weeks for me at my job.

There isn't any datasets available for this analysis; part of the fun (in the data nerd sense) is that you'll get to build the analysis from the ground up. That being said, we have collected a few potential data sets and relevant articles for background research on our data.world page: https://data.world/sjha

[2017-08-04 15:57] jtorrez commented on #18
Closing this because it is a bit redundant to the effectiveness question

[2017-08-04 15:57] #18 closed

[2017-08-04 15:57] jtorrez commented on #7
Closing this as this project will not be moving forward.

[2017-08-04 15:57] #7 closed

[2017-08-04 15:58] jtorrez commented on #4
Closing this as the NILC has asked us to focus on other things.

[2017-08-04 15:58] #4 closed

[2017-08-04 15:58] jtorrez commented on #3
May close this after putting together issues for the Champion System

[2017-08-06 17:17] jtorrez opened #20 "Scrape Social Media for Requested Data"
# NILC Requests

The following is the data that has been requested by the NILC. The list has simply been reproduced directly from their proposal, feel free to modify it (other than the required data) by removing or supplementing it in whatever ways you believe would allow you answer the research question (see [Milestone](https://github.com/Data4Democracy/immigration-connect/milestone/4) for more d

[2017-08-06 17:17] jtorrez commented on #20
[Data for Democracy Project Proposal - Jackie Vimo.docx](https://github.com/Data4Democracy/immigration-connect/files/1203265/Data.for.Democracy.Project.Proposal.-.Jackie.Vimo.docx)

Original Proposal by the NILC for more context

[2017-08-06 17:24] jtorrez opened #21 "Upload Collected Data to data.world or Github"
After completing #20, upload the data to data.world or Github so that the D4D community can access it.

Feel free to ping [@jtorrez](https://datafordemocracy.slack.com/messages/@jtorrez/) or [@sanjana.jhaveri](https://datafordemocracy.slack.com/messages/@sanjana.jhaveri/) on Slack if you need assistance using data.world, which is our preferred location for shared data.

[2017-08-06 17:36] jtorrez opened #22 "Analyze Collected Data to Determine Effectiveness of Campaign"
After completing #20 or after downloading data as a result of #21, perform analysis to demonstrate effectiveness of the #Health4All social media campaign by the NILC. Though the NILC mentioned sentiment analysis, feel free to perform any analysis that you feel would answer this question effectively. Most approaches will involved NLP of some kind since the data is tweets and other social media data

[2017-08-06 17:39] jtorrez opened #23 "Prepare Report for NILC"
Prepare a professional looking report including the conclusions and findings from completing #22. This can be in the form of a well formatted notebook or whatever other formats you prefer. It should include visualizations and should be complete enough that the NILC can share it internally. You should also anticipate being asked follow-up questions by the NILC.

[2017-08-08 09:21] saipranava commented on #20
Hello @jtorrez. I'm interested in taking part in all the stages of the NILC project. I went through the project proposal and get an idea of what is expected. I don't know Python, so found it difficult to follow what was there on the quorum page. So, I used R (and the twitteR package) to do this. I have managed to find 812 tweets using 'Health4All' and 2878 tweets using 'HealthforAll'. I'm just won

[2017-08-08 16:57] jtorrez commented on #20
Seems low to me, what were your constraints for the search? Did it go all the way back to Jan 2014? And no worries, use whatever language you are comfortable with

[2017-08-08 22:10] saipranava commented on #16
Is there any data available for us, or do we have to gather it from somewhere?

[2017-08-08 22:18] saipranava commented on #20
Hmm, after discussing with people who have experience with scraping data from twitter, I have understood that the free API's of twitter have a limitation where users can scrape data only of the last 1 week. If we need more, we have to use their commercial API. Since D4D is a non-commercial organisation, we can request to let us access this data for free. May be the folks who have been at D4D for a

[2017-08-08 22:28] jtorrez commented on #20
I would say to ping @alejandrox1 (@alarj in Slack) about this first as he is leading the Quorum project and is our local Twitter scraping expert and may have some ideas to help you get the data. But if he is out of ideas, then we'll just have to punt on this.

[2017-08-12 21:44] brucerowan commented on #20
@saipranava  @alejandrox1 any update? I'd like to help with this if it is possible.

[2017-08-13 01:42] jtorrez commented on #20
@brucerowan No one has claimed this part the project yet, so if you're interested go for it! Let me know if you have questions (@jtorrez in the D4D slack)

[2017-08-13 09:09] saipranava commented on #20
@brucerowan @jtorrez I have been speaking to alejandrox1 for the last couple of days. He says that he knows the tools that have the ability to pull the required data without using any software and I have been learning to use those tools. If you are interested the first thing you have to do is this https://docs.docker.com/get-started/
Complete the tutorial and then if you already know Python do thi

[2017-08-14 02:10] jtorrez commented on #20
@saipranava Since you've already been tackling this I went ahead and assigned this issue to you so people will know to contact you if they want to get involved.

Definitely can attest both Docker (especially Docker) and Scrapy are super useful tools, we use them all the time at work!

@brucerowan Please coordinate with @saipranava as to how you can help with the project, I'm sure there are places

[2017-08-16 17:26] sharonresheff commented on #20
Looks like we've been working on this in tandem as I also downloaded Docker and Scrapy and am trying to learn Scrapy for this project. @saipranava - since I am very new to programming and have no experience with the scraping part I wonder if I can help in this stage? Should I try to do my own scraping or join for the analysis, visualization, and reporting piece where I have experience?

[2017-08-16 17:37] saipranava commented on #20
@sharonresheff I'm also pretty new to programming and I'm finding it a bit difficult to spare time to learn Python from scratch and understand scrapy.

So, I would recommend you to go ahead and learn scrapy. Chances are you'll learn it before me and be ready to grab the data :)

Even if all 3 of us end up learning scrapy, we have multiple search terms in the project and we can share it among us.

[2017-08-16 17:39] sharonresheff commented on #20
Sounds good @saipranava I need more Python deep dive as well in order to get a handle on Scrapy. Let's keep each other in the loop for now.

[2017-08-26 16:23] alejandrox1 commented on #20
Hi everyone @sharonresheff @saipranava @brucerowan @jtorrez I have some twitter scrapping code sitting [here](https://github.com/alejandrox1/twitter_tools). Also, there I made a Docker image (to avoid all the setup required by Selenium) called [alejandrox1/ubuntu_pyselenium](https://hub.docker.com/r/alejandrox1/ubuntu_pyselenium/)

[2017-09-08 15:53] jtorrez commented on #20
@sharonresheff and @saipranava any progress on this?

@alejandrox1 thanks for your support!

[2017-09-08 16:02] saipranava commented on #20
@jtorrez
I have had experienced too many issues while trying to learn scrapy. I don't have the time to learn Python from the scratch at the moment and it doesn't look like the are any methods in R to scrape this kind of data. So, I have not done anything regarding the the scraping part. I'm hoping someone else who is well versed with python and docker can work on this. I'm ready to do the steps af

[2017-09-08 18:21] jtorrez commented on #20
No worries, thanks for the update @saipranava

[2017-09-09 02:51] jtorrez opened #25 "NILC DACA Assistance"
NILC would like help collecting any data, articles, material, etc. related to DACA and the recent decision to rescind it by the Trump Administration.

This issue is just a temporary dumping ground for any and all ideas and found data/articles/materials related to assisting them. We will re-organize once concrete projects and analyses emerge from the brainstorming.

[2017-09-09 04:17] Glaze-S commented on #25
This seems like a good starting point:
https://data.world/caitlyn/states-where-those-affected-by-daca-live

[2017-09-09 07:32] Glaze-S commented on #25
**News-related brainstorming, could be useful to see how the narrative is shaping up.**
_Not immediately useful for day-to-day experiences of people directly affected. But could be useful to community organizers, especially for local news sources. Organizers will want things like: statements from their reps, local news stories (and how they are similar/different than national coverage). Names of k

[2017-09-09 20:31] sharonresheff commented on #20
I have taken upon myself to learn Python from scratch. No small task. Can't help yet.

[2017-09-12 21:18] jtorrez commented on #20
No worries, just checking in @sharonresheff. Appreciate the update

[2017-09-14 00:36] AmyinTX commented on #22
HI! I'm brand new to the community so I'm not sure how this works exactly, but I'll give it a shot. I'd really like to take this on. When I look through the chain of events though it seems like there's a need for someone to scrape and upload the data first...I'm done a web scraping tutorial once so I don't feel confident enough to tackle that just yet...

[2017-09-14 14:30] brycecf commented on #20
@jtorrez I just started watching this project.  I'm very familiar with writing Twitter crawlers.  Is there still a need? If so, I'd be happy to help!

[2017-09-14 15:05] jtorrez commented on #20
Hi @brycecf! Yes, we definitely have a need here. Since they are requesting a historical scrape, this has been a kinda tough one. If you are willing to take it on, it would be much appreciated as the NILC would love to get this done and we have multiple people wanting to help in the parts of this project that come after we have data!

[2017-09-14 15:57] brycecf commented on #20
@jtorrez Sure, I'd be happy to help! I probably won't be able to get to this today, but I'll have an update for you by Saturday.

Few questions:
* What format do you want this in?
* How do you want to treat **Required** versus **Stretch**?  Do you want these as separate data sets?
* Could you add me to the Slack channel? I can send you a private message with my email.

[2017-09-14 16:00] brycecf commented on #21
@jtorrez I guess I'll be assigned to this too given #20.

[2017-09-14 16:17] jtorrez commented on #20
A flat file dump should work fine, either json or csv, whichever you are most comfortable with. Most of our members work in Python (with Pandas) or R, so if you could put it into a format that allows it to be easily loaded into a dataframe type structure, that would be great! (So if JSON, each entry having consistent field names, etc.) You don't need to clean the data much if the format makes it e

[2017-09-19 03:37] brycecf commented on #20
Sorry, the weekend was busier than I expected. I'll be working on this today (Tuesday).

[2017-09-20 08:37] brycecf commented on #20
@jtorrez I've collected 22,118 Tweets for #health4all and 42,670 for #healthforall that are dated since 01/01/2014.  I need to edit the formatting a little bit, but I will open a pull request with the data by the end of the day.  Just as an FYI, I do not know if this was intended or not, but these hashtags are being used by other users in contexts that do not relate to immigration, so this data is

[2017-09-21 08:57] saipranava commented on #20
@brycecf Great work man. I was just wondering what tools you used to get this work done and how a beginner can go about making to use them. Did you use scrapy or something else?

[2017-09-21 12:06] brycecf commented on #20
@saipranava I used scrapy. I'm going to work on cleaning up my script and posting it as a tool so others can use it to scrape historical Tweets too.

[2017-09-21 15:52] jtorrez commented on #20
Awesome, thanks so much @brycecf, this is super helpful. Are you interested in working on the next phase of this (#22)? I know that @saipranava was ready to jump on that if you aren't.

[2017-09-21 15:53] #3 closed

[2017-09-21 15:53] jtorrez commented on #3
Closed because this ask is long past helpful

[2017-09-21 15:54] jtorrez commented on #14
Closing due to lack of interest

[2017-09-21 15:54] #14 closed

[2017-09-21 15:56] jtorrez commented on #15
Closing due to lack of interest

[2017-09-21 15:56] #15 closed

[2017-09-21 15:57] jtorrez commented on #16
@saipranava So sorry I missed this comment! There is no data (as usual), are you interested in taking this on? Otherwise I'm cleaning up the issues in this repo for the hackathon and will be closing this issue due to lack of interest

[2017-09-21 17:31] saipranava commented on #20
@brycecf Cool, will be looking forward to your tool!

@jtorrez I'm ready to work on this and it looks like quite a few people have shown interest. I'm an amateur at this so its better we we have a few experienced people on this. The more the better I guess. Is there a slack group for the NILC project?

[2017-09-21 18:26] brycecf commented on #20
@jtorrez, @saipranava Yes, I'd like to help out with #22 and #23

[2017-09-21 18:27] sharonresheff commented on #20
@jtorrez @saipranava @brycecf I'll also take a stab at the analysis part. Maybe we can each tackle it and compare the outcome?

[2017-09-21 19:53] jtorrez commented on #20
@sharonresheff I think that is a great idea, @saipranava and @brycecf you in for that? If so, I'll assign the three of you to those other two issues (#22 and #23)

[2017-09-21 19:56] saipranava commented on #20
Yup. Sounds good.

[2017-09-22 15:35] #20 closed

[2017-09-22 15:35] #21 closed

[2017-09-22 15:39] jtorrez commented on #22
@brycecf and @sharonresheff I can't seem to assign you to the issue, are you part of the D4D org on Github? If not, ping @geckya in Slack and she should be able to get you added

[2017-09-22 15:41] jtorrez commented on #22
@AmyinTX the data has been added! Check it out [here](https://github.com/Data4Democracy/immigration-connect/tree/master/datasets/nilc-tweets).

[2017-09-22 22:26] brycecf commented on #22
@jtorrez I've been added now

[2017-09-24 15:09] jtorrez commented on #19
Closing to clean up outdated issues

[2017-09-24 15:09] #19 closed

[2017-09-24 15:10] jtorrez commented on #17
Closing issue to clean up outdated issues

[2017-09-24 15:10] #17 closed

[2017-09-24 15:18] jtorrez opened #27 "DACA Renewal Visualization"
The NILC has requested a visualization for the [DACA Renewal Status Data](https://github.com/Data4Democracy/immigration-connect/files/1532918/2017-11-02_DACA_Renewal_Status_With_Denials_rounded_to_nearest_10.pdf) they have provided us.

In particular, they are interested in a visualization of the distinction between those DACA recipients who are able to renew and those who are not. People whose DA

[2017-09-24 15:24] jtorrez opened #28 "Data Collection to Support NILC Tennessee Court Case"
The NILC has requested we collect data to support a court case they are pursuing in Tennessee. This data collection will need to cover both social media and other, more traditional news sources and will involve both current and historical data collection. If you decide to take on this project, it is very likely your work will be used in preparation for litigating the court case and possibly even i

[2017-09-24 15:43] brycecf commented on #28
@jtorrez I'd like to work on this! Is there a deadline for it?

[2017-09-24 15:47] jtorrez commented on #28
Awesome! I'll go ahead and assign you to it. Thanks for all your hard work @brycecf; really appreciate it.

Don't hesitate to ask questions here or in Slack, I'll be sure to ping Patrick if you need clarification from him for any issues.

Re: deadline: I was told by Patrick that this "has a long fuse", but I'll lock down with him exactly when the dates he'll need this by are. Don't think there is

[2017-09-24 15:57] jtorrez opened #29 "Write Champion System Overview Doc"
Write markdown file containing overall description of project, motivation, and potential impact.

[2017-09-24 16:00] jtorrez opened #30 "Write Champion System Technical Requirements Doc"
Detail the system end users, use cases, and technical requirements for the Champion System to guide dev.

Technical requirements to include the need to manage this as an open source project under the assumption D4D will likely need to maintain the system at least initially. Hardware available to the NILC is unknown at this time.

[2017-09-24 16:03] jtorrez opened #31 "Create Plan and Github Issues for Champion System"
Create proposals, Github issues, and plan for execution of the Champion System, see https://github.com/Data4Democracy/immigration-connect/tree/master/champion-system for details

[2017-09-24 16:15] brycecf commented on #28
@jtorrez Also, I imagine that the data should be handled/documented in a certain way to be usable in legal proceedings.  Could you talk to Patrick about what (if any) requirements they have for that?

[2017-09-25 08:27] esjewett commented on #22
@jtorrez Do we have any kind of definition of "effectiveness" in the context of this campaign? What was the campaign supposed to achieve and, if we know, how might we expect those goals to be discernible via Twitter?

[2017-09-26 13:11] AmyinTX commented on #22
Yay! Excited to get my hands on the data!!

[2017-09-26 15:07] jtorrez commented on #22
@esjewett The only context I have is the proposal that is linked in the issue description: she specifically mentions sentiment analysis, but I think it would be valid to use whatever measure of effectiveness you think might work well for this task. Just make any assumptions you make clear and your reasoning for the "effectiveness" metric/analysis you pick clear and we will probably benefit from ha

[2017-09-26 16:04] jtorrez commented on #16
Closing due to lack of interest

[2017-09-26 16:07] #29 closed

[2017-09-26 17:30] saipranava commented on #22
I think it would be useful to have more information. Can you point me to an article on the Health for all campaign. I googled about it and only found articles about a program in UK. It would be better if we have some idea on what the background of this campaign is about and stuff like that.

[2017-09-26 18:57] sharonresheff commented on #22
Agree with @saipranava Also - I've tried to connect the file to Tableau and got an error message and then tried to use an online json to csv converter and got an error message as well, which read This does not look like JSON. It must contain at least one square bracket [ or a curly brace {. Has anyone encountered similar issues?

[2017-09-26 19:14] sharonresheff commented on #22
@jtorrez I've been added as well

[2017-09-26 19:27] brycecf commented on #22
@sharonresheff It's an array of JSON objects. You probably won't be able to read it in directly with a  conversion tools like the one you described.  You'll need to convert it programmatically.

[2017-09-26 19:28] sharonresheff commented on #22
Got it. Found a work-around. Thanks.

[2017-09-26 19:29] saipranava commented on #22
Have you tried converting it into a csv and then connecting it to tableau? That should work.

[2017-09-27 05:00] aliang5 commented on #27
@jtorrez I'd be happy to look into this. I'm new to this community, can you send me an invitation to the slack group? Thanks!

[2017-09-27 14:39] esjewett commented on #22
@jtorrez I did read the proposal, but unfortunately while it says that the goal is to track effectiveness of the campaign, it doesn't ever say (or even imply as far as I can tell) what NILC would consider to be "effective". Sentiment analysis would make sense if they want to track change in sentiment on a particular topic, but you would need a different tool to try to connect that change to the ac

[2017-09-27 15:00] jtorrez commented on #22
@saipranava @sharonresheff @esjewett

I understand your desire to get more clarification, but unfortunately it will take some time to coordinate between the NILC and you guys. If you would like to wait until I can ask your questions to get started I understand, but I have already discussed this issue with Patrick when he gave me the proposal and the NILC is fine with receiving multiple interpretat

[2017-09-27 15:05] jtorrez commented on #27
Hi @aliang5, sent an invite to the email address you have on your Github profile. Let me know if I should send one to a different address! And feel free to get started on the project, just let me know if you have any questions or I can help in any other way!

[2017-09-27 17:04] sharonresheff commented on #22
@jtorrez I started analyzing the data. This happens with my clients too - they don't know what they want until you come up with a proposal that makes sense to them. What I'm seeing so far is that a good amount of tweets use the #Health4All hashtag but in a completely different context than NILC's campaign (or what I assume their campaign is about). It would help to understand the NILC campaign fro

[2017-09-27 17:55] aliang5 commented on #27
@jtorrez Thanks Jonathan!

[2017-09-27 18:48] brycecf commented on #22
@sharonresheff That was my impression as well when I was scraping the data. I think the other topics focused on California would be more useful for keeping it related, but I have not found a way to make the equivalent of a geo-boundary box for Tweet searches.  If I search "California", it seems to only provide Tweets from people who state their location as "California", but does not include people

[2017-09-27 23:09] jtorrez commented on #22
@sharonresheff Will definitely ask for that document. @esjewett has been kind enough to offer to the point of contact for this project and I'll be introducing him via email to Jackie (the advocate at the NILC who wrote the proposal) and he'll be the go between in the future. Huge thanks to @esjewett for handling that role so there will be someone dedicated to direct communications (without me bein

[2017-09-28 00:55] hemavakade commented on #16
I think this can be useful.
https://data.world/sjhaveri/does-the-travel-ban-improve-national-security/discuss/

[2017-09-28 00:58] hemavakade commented on #27
@jtorrez I would like to look into this. Can you please send me an invite too?

[2017-09-28 02:55] AmyinTX commented on #22
So since this is the first thing I've worked on for D4D, I have a process/workflow question...it sounds like several of us are going to play with the data individually and try to come up with an analytic approach for answering the proposal's requests. I am planning to spend the bulk of this weekend's hackathon working on this analysis. How/when should we share results? Should we be communicating o

[2017-09-28 10:56] esjewett commented on #22
@AmyinTX I'm at least as new as you are, so can't tell you what the standard practice is. There is a [Slack channel for immigration connect](https://datafordemocracy.slack.com/messages/C3XQVHBHR), so that might be a good place for more real-time discussion. Regarding progress and results, maybe create a public Github repository (or fork this one and create a sub-folder like [this one](https://gith

[2017-09-28 16:42] jtorrez commented on #22
@AmyinTX Great questions, @esjewett is spot on. Two other notes:

1. Be aware we are on the free plan for Slack and have passed our 10,000 message limit long ago, so messages in Slack will disappear after a time. Put anything you want more permanent on Github.

2. The project's preferred Github workflow (which I should document, will add an issue to remind myself of that) is as follows: fork this

[2017-09-28 16:43] jtorrez opened #33 "Document Project Github Repo Workflow"
Write markdown detailing the Git/Github workflow this project uses.

[2017-09-28 16:49] jtorrez commented on #27
@hemavakade I don't see an email on your Github profile, feel free to shoot me an email at jonathan.a.torrez@gmail.com and I can get you invited to Slack

Please feel free to get started on the task in the meantime!

[2017-09-28 16:49] esjewett commented on #33
Generally this would go under `contributing.md` and then you get some nice reminders automatically in the Github UI. https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2017-09-28 16:50] jtorrez commented on #16
Thanks for pointing that out @hemavakade, should have put that in the issue description!

@saipranava there is data! I just forgot about it.

[2017-09-28 17:02] jtorrez commented on #33
Awesome, thanks so much @esjewett I didn't know about that feature!

[2017-09-28 18:11] sharonresheff commented on #22
@jtorrez @esjewett @brycecf @AmyinTX @saipranava Wanted to share my progress on the analysis structuring - the attached doc lists out the research questions I came up with, their impact on the effectiveness of the campaign, the metric to use, and method of visualizing the data. Not sure where to place this document based on the above post, please advise? Would love your feedback and if someone wan

[2017-09-28 18:26] AmyinTX commented on #22
@jtorrez @esjewett Thank you for sharing those suggestions, will definitely be implementing! @sharonresheff thank you for putting that together! I'm up for tackling issues 1 and 2.
[Research.approach.documentation.docx](https://github.com/Data4Democracy/immigration-connect/files/1341906/Research.approach.documentation.docx)

[2017-09-28 19:58] jtorrez commented on #22
@sharonresheff Love it, that looks so good. That will help a lot when working with the NILC to confirm what they want. This is the perfect place to put that document. If we end up using it in the final report we can save it here in the repo as well

[2017-09-28 20:40] jtorrez opened #34 "Clean Up Repo"
The repo README file is very out of date and needs to be cleaned up before the hackathon to avoid confusion for new members.

- [ ] Update project leads
- [ ] Update contact information
- [ ] Update active and old projects

Additionally, there are directories that are unused and should be removed.

[2017-09-28 22:15] #33 closed

[2017-09-28 22:21] #34 closed

[2017-09-29 22:06] #30 closed

[2017-09-30 00:06] aminebouzaghrane commented on #27
I would love to give it a shot. I don't necessarily understand the entire dataset. In particular, the No renewal pending category. What does that mean?

[2017-09-30 00:30] jtorrez commented on #27
@aminebouzaghrane It means they have applied for renewal and the application is pending. Let me know if you have any other questions, excited to see what you come up with!

[2017-09-30 00:33] aminebouzaghrane commented on #27
@jtorrez so what's the difference between the third and second columns? I'm sorry, for some reason I just can't seem to wrap my head around the difference.

[2017-09-30 01:58] pato1974 commented on #27
DACA is granted for 2-year periods, at the end of which a person can apply to renew their DACA for another 2 years. A person’s DACA comes up for renewal 120 days before its expiration.  With that in mind, this data set pertains to the DACA submissions for renewal. The first column is the number of renewals that have been granted. The second column is renewal applications that are pending approval.

[2017-09-30 02:11] VdeGuzman commented on #27
@jtorrez, I'd love to try this one too. Thanks @pato1974 for explaining further.

[2017-09-30 02:25] jtorrez commented on #27
@VdeGuzman would love another take on it, go for it! Let me know how I can support you!

[2017-10-02 21:55] esjewett commented on #22
This research approach looks great. I did reach out to Jackie to establish contact and ask about the "definition of effectiveness" question, but it seems that she is out of the office for training until Friday. So ... carry on!

Relatedly, for the missing information identified in this document, since we have (I believe?) the tweet ID, it may be possible to use the API directly to retrieve richer

[2017-10-22 13:57] joshuAnalytics commented on #28
hi I'm new to this site and found this thread in the data collection tasks section - I'd like to help out if I can. I have some experience scraping historic tweets and am interested in web scraping and social APIs. I have access to cloud computing cpu/disk space. I use python 3 and jupyter a lot.

[2017-10-22 23:06] jtorrez commented on #28
@joshuAnalytics Great! We would love your help on this. Check out the collection proposal linked in the issue description and let me know if you have any questions

[2017-10-24 15:31] esjewett commented on #22
I was able to connect with Jackie on this (NILC is very busy - can't imagine why - so sometimes responses are going to be few and far between). She is actually most interested initially in coding the data herself, and so would really like access to the scraping tool that was developed for this project. Any update on making that code available in whatever form @brycecf? Even if it's not fully baked

[2017-10-24 17:34] sharonresheff commented on #22
Have you shared with her our analysis document?
[Research approach documentation.docx](https://github.com/Data4Democracy/immigration-connect/files/1411828/Research.approach.documentation.docx)

[2017-10-24 21:24] joshuAnalytics commented on #28
Thanks, I will take a look at scraping the historic twitter data

[2017-10-25 01:25] esjewett commented on #22
@sharonresheff I did indeed, and was clear that you wrote it. Hopefully she can use it as a jumping off point for getting some of her specific questions out to us, or if we're lucky just be able to identify a few of them as what she is looking for.

[2017-10-30 02:49] biskwikman commented on #27
@jtorrez, It looks like plenty of people have offered already, but I'm interested in giving this a shot. Are you still looking for help?

[2017-10-31 04:12] biskwikman commented on #25
There are some studies by think tanks about the economic cost of potentials deportations associated with the rescinding of DACA. [This CATO study](https://www.cato.org/blog/economic-fiscal-impact-repealing-daca) places the cost at around $360 billion, while the [Center for American Progress estimates](https://www.americanprogress.org/issues/immigration/news/2017/07/21/436419/new-threat-daca-cost-s

[2017-10-31 04:16] biskwikman commented on #25
[Here is a write-up about a survey from CAP](https://www.americanprogress.org/issues/immigration/news/2017/08/28/437956/daca-recipients-economic-educational-gains-continue-grow/) which shows that DACA allowed the recipients to earn more money and attain higher education levels.

[2017-10-31 04:22] biskwikman commented on #25
[A study in The Lancet](http://www.sciencedirect.com/science/article/pii/S2468266717300476) showing that DACA conferred mental health benefits to its recipients.

[A study in Science](http://science.sciencemag.org/content/357/6355/1041)(paywall) which shows that children of mothers who are able to receive DACA have improved mental health.

[2017-10-31 04:28] biskwikman commented on #25
[A study from the Journal of Adolescent Health](http://www.sciencedirect.com/science/article/pii/S1054139X17300514) showing that DACA "potentially improves health outcomes" for young asian and pacific-islander youth.

[2017-10-31 17:17] jtorrez commented on #28
@brycecf are you still planning on taking this on?

[2017-10-31 17:23] jtorrez commented on #16
Closing due to lack of activity

[2017-10-31 17:23] #16 closed

[2017-10-31 17:31] jtorrez commented on #25
@biskwikman thanks for all the work! Would you like to compile your work and @Glaze-S's work into some kind of brief/summary that I could deliver the NILC? Perhaps something that summarizes the source and the potential story/conclusion drawn by the source so that the NILC can determine what communication campaigns might be built around the data/reports you've found

[2017-10-31 17:33] jtorrez commented on #27
Thank you to everyone here for contributing to this project, @pato1974 is super busy right now and will be getting around to reviewing these as soon as he is able.

@biskwikman you are more than welcome to take a cut at this if you'd like to, the more potential visualizations we have the more ideas it might spark for everyone.

[2017-10-31 17:33] jtorrez commented on #28
@joshuAnalytics Have you had any luck either?

[2017-10-31 17:47] jtorrez opened #39 "Update Champion System Documentation"
The documentation for the Champion System is outdated and references the hackathon that has already passed. Update it so that people aren't confused by mentions of the hackathon.

[2017-10-31 17:52] brycecf commented on #28
@jtorrez I was waiting for clarification on the tasking.  If this data set may be evidence in a legal setting, do we know how this data needs to be collected and stored to make it admissible?  I did some Internet searching on this topic, and it looks like courts have rather stringent requirements.

[2017-10-31 17:56] #39 closed

[2017-11-01 11:30] biskwikman commented on #25
@jtorrez I would be happy to do that. I'll start on it tomorrow (Australian tomorrow). Would this just be a concise written document? With potential outcomes for DACA recipients (or others) based off of what we have found?

[2017-11-01 15:29] jtorrez commented on #25
@biskwikman That sounds perfect. If you're willing to, go ahead and write something up and then we can iterate on it if Patrick (@pato1974, who is our NILC contact) feels things need to change or be added.

[2017-11-01 15:37] pato1974 commented on #28
Hi Bryce,

Thank you so much for following up on this project, and sorry again for the delay in getting back. I sent you a message in Slack on Monday addressing this question (included below), but I’ll reiterate here that there are no special measures that you need to take because it’s a legal case. As long as your methodology is consistent and the scrape includes the actors, keywords and sources

[2017-11-03 04:25] biskwikman commented on #25
@jtorrez I've had a shot at writing the summary of the studies posted above and some others, along with some ideas for narratives that could come from them. The event registry visualizations that @Glaze-S did seem interesting but I'm not sure how to include in this type of document or what conclusions to draw from them. If either of you or anyone else have ideas on how to do so that may be helpful

[2017-12-05 18:57] pato1974 commented on #27
NILC really needs an animated visualization that shows how with each month/week/day (not sure by week and day is possible, but…),  that people are losing DACA and therefore losing their status and becoming undocumented. This would use the same data posted here in this issue #27.

Mohamed's viz gave me the idea to have a visual of that data showing people falling from a vibrant color (i.e. good liv

[2017-12-07 10:56] joshuAnalytics commented on #28
@jtorrez my pull request https://github.com/Data4Democracy/immigration-connect/pull/38 is still open, let me know if I have done it wrong.

[2017-12-10 05:33] geckya commented on #27
Submitted a PR for the latest version of the code to make the plots.  They have been strung together in Gimp to make a gif that's posted on the Slack and awaiting feedback.

[2018-01-17 20:23] #28 closed

[2018-01-17 20:24] #27 closed

[2018-01-17 20:36] jtorrez opened #42 "Research to Support CIRC Bill in Colorado"
One of the advocates for our partner organization, the National Immigration Law Center (NILC), has requested that D4D help with a research question they need answered in support of a bill their advocacy organization will be introducing in Colorado later this year. Please read the attached project proposal and ask any questions you may have here, or simply comment that you would like to be assigned

[2018-01-23 15:59] proof-by-accident commented on #42
Hi, I'm new to this project and was interested in taking a swing at this issue (I'm a CO resident so it's especially close to home).  Quick question: the proposal mentions "...data from TRAC  states that 50% of the people arrested by ICE were never convicted of the orignal crime for which they were charged," do you know where this data would be?  The linked webpage hosts a bunch of datasets, but i

[2018-01-23 16:18] jtorrez commented on #42
@proof-by-accident thanks for your interest! I've forwarded your question on to the advocate who submitted the project proposal to see if we can dig up the answer.

Would definitely love to have someone get rolling on this project, so if you're willing to take it on that would be great!

[2018-01-24 21:27] pato1974 commented on #42
Hi. This is Patrick at the National Immigration Law Center – the advocate who submitted the project proposal. However, I am not the lead advocate on the project and would love to connect you and our lead advocate directly so that she can try to answer your question and both of you can discuss how to move forward with the project.  Can you send me an email for you and I can connect the two of you t

[2018-01-25 01:42] jtorrez commented on #42
@proof-by-accident ^ Please see Patrick's above message, his email is in the message or you can DM him in the D4D Slack where his handle is `pato1974`. Feel free to also email me at jonathan.a.torrez@gmail.com  or DM in D4D slack, I'm `jtorrez`, and I can connect the two of you.

[2018-01-26 15:57] proof-by-accident commented on #42
Great, thanks!  I'll send a DM on Slack.

[2018-01-30 20:26] jtorrez opened #43 "Collect Datasets for Black History Month Project"
D4D and data.world are partnering to tell stories with data for Black History Month! The D4D-Immmigration-Connect partners with the National Immigration Law Center (NILC) and our contact at the NILC has suggested preparing and analyzing datasets related to Black immigrants to the United States. This report can be used as a starting point to find and upload datasets for further analysis or visualiz

[2018-01-30 20:35] jtorrez opened #44 "Analyze and Visualize Data for Black History Month Project"
After some datasets have been collected (see #43) and uploaded to the Black History Month project page (which is [here](https://data.world/jtorrez/immigration-connect-black-history-month)) or to this project page, we need to analyze and visualize the data to help tell stories. This is an open ended issue, whatever you think might be a compelling or interesting story to tell would be great!

A dire

[2018-01-31 03:52] jhzsquared commented on #43
@jtorrez I would love to help out with this project. However, just to check about time, is there a deadline? (I'm new to D4D)

[2018-01-31 15:40] jtorrez commented on #43
Hi @jhzsquared! Welcome to D4D! The sooner the better on this one so that you (or others) can get a chance to do some analysis/visualizations before Black History Month (February) is over. Going through the report that is linked and trying to find some of the datasets they use is definitely the best way to get started on this. Let me know if you need any help!

[2018-02-07 14:35] jtorrez commented on #43
@jhzsquared Has uploaded many files to the data.world project, thanks so much for that hard work!

The files could probably use some cleaning up to put them in a format that is easily loadable for data analysis (w/ Python, R, etc.); currently they are formatted in Excel XLS files that are made more for humans than our computers. If anyone wants to tackle that, it would be very helpful for others w

[2018-03-02 13:34] keshavramaswamy commented on #43
Hi @jtorrez - I can get started - try cleaning the files, aggregating etc. and make it easier for data analysis! But since, it's March now, is this issue and #44 high priority now?

[2018-03-02 18:46] jtorrez commented on #43
@keshavramaswamy Even thought Black History Month has passed, our partner organizations would definitely still benefit from any work that could be done, so please do get started on anything you have time for! And let me know if you have any questions I can answer.

[2018-03-02 18:46] jtorrez commented on #43
Accidental closing of issue, oops

[2018-06-11 16:29] geckya opened #45 "Collect data on TPS (temporary protected status) holders"
Our partners are looking for help getting/analyzing/visualizing data on TPS holders.
Data at the congressional district level (by country of origin) would be best.  If we can't get the data at that level of detail, the next best thing would be having the total number of TPS holders in each state, by country of origin.
A few resources with partial examples of what we're looking for:
http://jmhs.cms

[2018-06-21 20:48] dkotschessa commented on #45
According to [U.S. Citizenship and Immigration Services,](https://www.uscis.gov/humanitarian/temporary-protected-status/temporary-protected-status-designated-country-el-salvador), the countries of interest are:

El Salvador
Haiti
Honduras
Nepal
Nicaragua
Somalia
South Sudan
Sudan
Syria
Yemen

From the [link](http://cmsny.org/tpstablesbystate/) @geckya provided in Slack we get El Salvador, Hondurus

[2018-06-21 21:02] dkotschessa commented on #45
Numbers for those and other countries appear on page 5:
https://fas.org/sgp/crs/homesec/RS20844.pdf
![image](https://user-images.githubusercontent.com/7572608/41745419-e0c1b7f4-7574-11e8-9563-f3b7aaca27c6.png)

[2018-06-26 21:40] AlephNotation commented on #45
Does this work? http://cmsny.org/tpstablesbystate/

[2018-06-27 00:59] josephpd3 commented on #45
Just finished looking over the linked documents - sorry if anything I mention is overly redundant to the discussion.

It seems like the majority of the information in the reports linked on the TPS ticket was based on data acquired through the *Department of Homeland Security, US Citizenship and Immigration Services* (USCIS) and *The Center for Migration Studies* (CMS).

The former had particularly

[2018-09-25 21:24] jtorrez opened #47 "Update Contact Info for New Org Requests"
In the Projects section of the README (https://github.com/Data4Democracy/immigration-connect#projects) it still lists my contact info for connecting with new immigration related organizations. Seems like we should update this to include the contact info of the new partnerships lead(s) (but am happy to leave my contact info in there if you would prefer).

[2018-10-25 05:17] dotj opened #48 "Start the Public Charge Project"
The National Immigration Law Center (NILC) would like help collecting and storing data from a regulation.gov page for a proposed “Public Charge” rule which targets immigrants who may depend on government benefits.

We want to collect
1) Primary Documents;
2) Supporting Documents; and
3) Comments
and automatically store them in a database.

The regulation.gov page is:
[https://www.regulations.gov/d

[2018-10-28 14:47] alejandrox1 commented on #48
Hi, world. I started doing some work related to this issue https://github.com/alejandrox1/scrapers/tree/master/regulationgov

[2018-10-29 03:47] #47 closed

[2018-10-29 04:33] dotj commented on #48
Thanks @alejandrox1 ! Like I mentioned on slack - go ahead and submit a PR with your script and we can start reviewing. :)

I can create subsequent issues for the remaining tasks as well.

[2018-10-31 01:45] dotj opened #52 "Refactor script to gather all comments in the comment section"
Context:
- [NILC Proposal](https://docs.google.com/document/d/1PGrztVYkdlTfuXADx9kI0vQciXf3fRpJrgTlV76DPTI/edit?usp=sharing)
- [regulation.gov page](https://www.regulations.gov/docket?D=USCIS-2010-0012)

Proposed Timeline:
- The comment period closes on December 10.
- This proposal is being presented on October 23.
- Goal: to have the database capturing data by the first week in November.

Continu

[2018-10-31 01:48] dotj opened #53 "Scrape supporting documents for the Public Charge Project"
Continuation of issue #48

[2018-10-31 01:57] dotj opened #54 "Create database for the Public Charge Project"
Context:
- [NILC Proposal](https://docs.google.com/document/d/1PGrztVYkdlTfuXADx9kI0vQciXf3fRpJrgTlV76DPTI/edit?usp=sharing)
- [regulation.gov page](https://www.regulations.gov/docket?D=USCIS-2010-0012)

Proposed Timeline:
- The comment period closes on December 10.
- This proposal is being presented on October 23.
- Goal: to have the database capturing data by the first week in November.

This is

[2018-10-31 02:00] dotj opened #55 "Automate saving comments and supporting documents to database"
Continuation of #48, #52, #53, #54

[2018-10-31 17:00] noahbjohnson commented on #54
Could you clarify on where we'd like this to be located. Are we going to create some sort of document store inside of the repository itself, or would looking at a cloud solution be more prudent?

[2018-11-01 15:52] #48 closed

[2018-11-01 16:01] dotj commented on #54
@noahbjohnson A cloud solution would probably be more prudent but not completely necessary... though we'll have other data collection projects in the future so it may be worth it! It just needs to be easy to access and share with people that don't have a data background.

[2018-11-03 16:32] alejandrox1 commented on #52
Starting work on this. reach out to @alarcj on slack

[2018-11-03 22:41] alejandrox1 commented on #52
PR #56 proposes to solve this issue and is ready for review.

[2018-11-03 22:44] alejandrox1 commented on #54
@dotj can we get specifics on how to store the data? The scraper for comments is more or less ready to go. We need more details to workout how and where the scraper will save data.

[2018-11-04 06:49] dotj commented on #54
Thanks for kicking this off, @alejandrox1! Sorry I didn't see this earlier. I am open to recommendations for how to store the data, as is the NILC.

I'll set aside some time to dig into this more tomorrow and hopefully sync with you then. Message me on slack if you have any questions in the meantime.

[2018-11-13 17:38] #52 closed

[2018-11-13 17:38] #54 closed

[2018-11-15 20:45] biskwikman commented on #45
Hey guys I contacted the author of the Congressional Research Service report to ask if she knew where more granular data would be. She said that USCIS doesn't make data lower than the state level public. We could try asking them, but state level might be the best we can get.

[2018-11-18 19:03] dotj opened #57 "Run scraper on local machine to gather regulations.gov comments for the NILC"
Continuation of #48:

We have not yet been able to get a VM up to run the scraper, so we need your help running the scraper locally in order to gather an initial dataset that the NILC can look at.

The documentation for the scraper can be found here: https://github.com/Data4Democracy/immigration-connect/tree/master/public-charge/scraper

Ping me or @alejandrox1 here (@julietdo or@alarcj on slack)

[2018-11-18 19:04] dotj commented on #55
Currently still working on getting a VM set up to automatically scrape the documents. Created new issue to ask for help in manually collecting data (#57 )

[2018-12-06 01:18] dskard opened #58 "use regulations.gov's public API to retrieve comments associated with a docket"
The public-charge project is working on collecting primary, supporting, and comment documents from the https://regulations.gov website. The regulations.gov website provides a public API that allows developers to retrieve information from the system. Much of the information available through the website user interface is also available through their public API.

Use the regulations.gov public API t

[2018-12-06 01:29] dskard commented on #58
Information on how to use the https://regulations.gov Public API:
https://regulationsgov.github.io/developers/index.html

To use the API, you'll need to sign up, with a "business" or education based email address (.com, .org, .edu, not google.com, not yahoo.com, not outlook.com), for an API key from https://api.data.gov/signup/ and email the regulations.gov website with the API key and account id

[2018-12-10 13:15] dskard commented on #58
Quick update on progress

#### Code is available in GitHub

I've pushed a version of the tool, currently named `docketsync`, to a github branch at https://github.com/dskard/immigration-connect/blob/58-get-public-charge-comments-via-api/public-charge/docketsync. The README.md gives some instructions on how to get started using the tool both locally and within a Docker container. You will need to ge

[2018-12-27 03:31] #58 closed

[2018-12-27 03:56] dskard opened #60 "add docketsync subcommands to download primary and supporting documents"
In the public charge project, the `docketsync` script can be used to download comment records and comment attachments, using the https://regulations.gov HTTP API. Update the script with the capability to download primary and supporting documents.

[2018-12-27 04:21] dskard opened #61 "docketsync: document running in cron"
For the public charge project, the `docketsync` script can be setup to run in cron to collect and update comments and comment attachments. Add the script currently being used to run `docketsync` in cron and documentation describing how to use it.

[2019-02-05 00:49] 4zac1 commented on #44
Hi there! I'd like to collaborate on this project and provide visualizations using the datasets gathered. I do this type of work on a daily basis back at my company. I have access to Power BI and R. Is there a preference for any sort of tool? Likewise, is there a timeline for deliverables? Thank you!

[2019-02-05 16:38] pato1974 commented on #44
Amazing! Thank you!  No, no preference for any tool. Since this was a project posted last year for Black History Month, there is no specific ask from any partner, so there is also no timeline, except that the theme is Black History Month, so it would be great to have the visualizations for Black History Month. If you do decide to take this task on, then I will put you in direct contact with our pa

[2019-02-05 18:48] Andre-Bravo commented on #44
@pato1974 Happy to help on the visualizations front as well.
I've been looking for a project to get my feet wet in this community. I have data analysis experience in Pandas and Data Viz experience in Tableau, Power BI, and more recent experience in Python's data viz libraries (matplotlib, seaborn, plotly)
@OrlandoGonzalez , let me know how we can collab on this!

[2019-02-05 18:59] pato1974 commented on #44
Great! This could be a good project to get feet wet. Down the road, we will definitively have more visualization projects of existing data of workplace raids by ICE. This would be a good starting point.

Sent from my iPhone

On Feb 5, 2019, at 1:48 PM, Andre-Bravo <notifications@github.com<mailto:notifications@github.com>> wrote:

@pato1974<https://github.com/pato1974> Happy to help on the visuali

[2019-02-06 17:01] pato1974 commented on #44
Great! Please do! Thank you!

From: Orlando Gonzalez <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Data4Democracy/immigration-connect <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, February 5, 2019 at 9:29 PM
To: Data4Democracy/immigration-connect <immigration-connect@noreply.github.com<mailto:immigration-connect@noreply.github.com>>
Cc: Patrick O'Sh

[2019-02-23 07:33] dotj commented on #22
Closed due to inactivity

[2019-02-23 07:33] #22 closed

[2019-02-23 07:34] dotj commented on #23
Closed due to inactivity

[2019-02-23 07:34] #23 closed

[2019-02-23 07:35] #25 closed

[2019-02-23 07:36] dotj commented on #31
Project has not been fully scoped out. Deprecating as inactive.

[2019-02-23 07:36] #31 closed

[2019-02-23 07:37] dotj commented on #42
Closed due to inactivity

[2019-02-23 07:37] #42 closed

[2019-02-23 07:39] #43 closed

[2019-02-23 07:43] dotj commented on #44
Hi @OrlandoGonzalez @Andre-Bravo ! Were you two ever able to connect to do something for this project?

[2019-02-26 18:15] OrlandoGonzalez commented on #44
Hi! We have been collaborating, however, we have yet to find a useful data set to use for visualizations. We will keep on trying.

________________________________
From: julie t. do <notifications@github.com>
Sent: Saturday, February 23, 2019 2:43 AM
To: Data4Democracy/immigration-connect
Cc: Orlando Gonzalez; Mention
Subject: Re: [Data4Democracy/immigration-connect] Analyze and Visualize Data for

[2019-03-30 20:02] CoreyAR commented on #57
I started to take a look at this issue as a first contribution  and have a couple of questions.

I was able to get the docker container running but was unable to run`python get_comments.py` because the file wasn't being added to the container. I believe all the python files and database should get added to the container also. Would it be preferable to add the python files after installing requirem

[2019-03-30 20:11] CoreyAR commented on #57
Ahh I see where it is creating the volume in the docker run command `-v $(CURDIR):/opt/app`.

It seems that the issue is I don't have CURDIR set. I am not too familiar but I think it might be related to make. The other issue I had is also related to the DISPLAY env var which also isn't getting set properly.